* {
    box-sizing: border-box;
}

.my-card {
    max-width: 1204px;
    height: 368px;
    background-color: #ffffff;
    display: flex;
    gap: 45.49px;
    margin-left: 118px;
    margin-right: 118px;
}

.my-card-img {
    width: 547.51px;
    height: 367.41px;
}

.card-description-1-1 {
    display: flex;
    gap: 14.07px;
}

.card-description-1 {
    display: flex;
    gap: 134px;
    margin-bottom: 35.66pxs;
    margin-top: 18.02px;
}

.text-small {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #BCBCBC;
}

.my-card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: #262626;
}

.my-card-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #262626;
}

.card-description-2-1 {
    display: flex;
    gap: 10px;
    margin-top: 29px;
    align-items: center;
}

.arrow {
    width: 21.67px;
    height: 13px;
    color: #4CE0D7;
}

.arrow-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.24em;
    color: #4CE0D7;
}

.card-description-2 {
    margin-right: 170px;
}

.card-img-button {
    width: 547.51px;
    height: 367.41px;
    position: relative;
}

.button {
    padding: 9px 52px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    background-color: #262626;
    border-radius: 40px;
    text-decoration: none;
    position: absolute;
    top: 25px;
    left: 34px;
}

.my-cards {
    display: flex;
    flex-direction: column;
    gap: 48.72px;
    margin-bottom: 69px;
}

.footer-main-container {
    max-width: 1440px;
    height: 308px;
    position: relative;
}

.footer-container {
    max-width: 1267px;
    height: 213px;
    display: flex;
    gap: 700px;
    border-bottom: solid 1px #BCBCBC;
    margin-left: 84px;
    margin-right: 89px;
}

.footer-title-colour {
    width: 147px;
    height: 20px;
    position: absolute;
    top: 93px;
    left: 171px;
}

.footer-title {
    position: absolute;
    top: 87px;
    left: 84px;
}

.footer-container-2 {
    display: flex;
    align-items: center;
    gap: 30px;
}

.social-media {
    display: flex;
    gap: 20px;
}

.copyright {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #262626;
    position: absolute;
    top: 247px;
    left: 88px;
}